.corpo{
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5% 15%;
   background-color:var(--cor-primaria);
   gap: 82px;
}

.titulo__sobre__mim,
.educacao__titulo,
.experiencias_titulo,
.habilidades__titulo,
.interesses__titulo{
    font-size: 35px;
    color: var(--cor-terciaria);
    text-align: center;
}

.secao__sobre__mim{
    padding: 20px 0;
    font-size: 22px;
   }




   .hard__skills{
    padding: 20px 0;
   }

   .educacao__link{
    color:unset;
    text-decoration: underline;
   }

   .secao__educacao{
    padding: 20px 0;
    font-size: 22px;
   }

   .secao__experiencias{
    padding: 20px 0;
    font-size: 22px;
   }



   .secao__habilidades{
    padding: 20px 0;
    font-size: 22px;
   }

   .secao__interesses{
    padding: 20px 0;
    font-size: 22px;

   }

   .background-caixa{
    background-color:rgb(9, 1, 29);
    border-radius: 30px;
    height:200px;
    width: 350px;
    padding: 10px;
    margin: 5%;


    }

.educacao__paragrafos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.experiencias_paragrafos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.redes__sociais__instrutores{
    color:unset;
    text-decoration: underline;
}

.habilidades_logo{
        display: flex;
        justify-content: center;
        gap: 20px;
        margin: 2%;
}

.habilidades_icone{
    height:80px;
    width: 80px;
}


    .interesses_logo{
        gap: 20px;
        display: flex;
        justify-content: center;
        margin: 2%;
    }
   

    .interesses__icone{
        height:80px;
        width: 80px;
    }

    @media(max-width:1080px){
        .all__dados{
            display: flex;
            flex-direction: column-reverse;
            align-items: center;
        }

    }
    
    @media(max-width:450px){
        .habilidades_icone{
            height:60px;
            width: 60px;
        }

        .interesses__icone{
            height:60px;
            width: 60px;
        }

    }
